In [1]:
%reload_ext autoreload 
%autoreload 2

In [8]:
!set PATH=%PATH%; /home/krystelle/code/Krys28/reestimator/

In [4]:
from reestimator.Mysql_mgmt.get_data import Data_loading

# TEST FONCTIONS OF GET_DATA CLASS

In [5]:
getting_data = Data_loading()

In [5]:
df_test = getting_data.get_num_rows('data_working_update', 3)
df_test

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1,2016-01-08,Vente,40000,,RUE TONY REVILLON,0560,1750,1370,Saint-Laurent-sur-Saône,...,Appartement,50,2,,,,,0,4.840606,46.304486
1,2016-4,2016-01-08,Vente,90000,,PELUS,B203,1560,1364,Saint-Jean-sur-Reyssouze,...,Maison,150,6,S,sols,,,1220,5.059020,46.386697
2,2016-6,2016-01-04,Vente,203700,,AU BOURG,B014,1190,1050,Boissey,...,Maison,98,4,S,sols,,,500,4.996678,46.383446

In [14]:
getting_data.get_random_rows('data_working_update', 100)

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1181028,2016-04-29,Vente,370740,,AV DES PERDRIX,7177,94210,94068,Saint-Maur-des-Fossés,...,Appartement,90,4,,,,,0,2.499777,48.787974
1,2018-682990,2018-11-15,Vente,240000,,AV CLEMENT JANEQUIN,0295,49240,49015,Avrillé,...,Maison,115,6,S,sols,,,467,-0.587038,47.506249
2,2017-330048,2017-05-23,Vente,104420,,KERADENNEC,B151,29242,29155,Ouessant,...,Maison,100,2,S,sols,,,240,-5.066094,48.469844
3,2017-1147951,2017-02-24,Vente,62000,B,RUE DE LA GARE,0018,82360,82089,Lamagistère,...,Appartement,56,3,S,sols,,,55,0.822925,44.124520
4,2019-164220,2019-07-03,Vente,370000,,RTE DE ROGNAC,8460,13880,13112,Velaux,...,Maison,98,4,S,sols,,,65,5.258285,43.520593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-171473,2019-12-20,Vente,355000,,RTE DE CHATEAURENARD,0122,13630,13036,Eyragues,...,Maison,105,5,S,sols,,,600,4.843038,43.846579
96,2017-1309067,2017-05-11,Vente,298400,B,RUE HOUDAN,4460,92330,92071,Sceaux,...,Appartement,62,3,,,,,0,2.290352,48.779335
97,2016-131399,2016-07-21,Vente,143000,,CITE LES COLLINES,A140,13240,13106,Septèmes-les-Vallons,...,Appartement,73,4,,,,,0,5.368646,43.404196
98,2019-12989,2019-05-15,Vente,295000,,RUE DES BLES D'OR,0061,1480,1194,Jassans-Riottier,...,Maison,102,3,S,sols,,,1024,4.761942,45.993677
99,2020-964593,2020-12-22,Vente,137277,,RUE DE LA TOUR D ARGENT,9158,92160,92002,Antony,...,Maison,60,3,,,,,0,2.284807,48.749521

In [ ]:
# getting_data.get_all_rows('data_working_update') Cette ligne focntionne mais elle met 5min pour s'exécuter.

In [6]:
getting_data.show_tables()

Engine(mysql+pymysql://Estimators:***@34.77.88.127:3306/Housing_France)

                TABLE_NAME
0                     data
1             data_working
2      data_working_update
3  data_working_update_old

In [16]:
data_test = pd.DataFrame()

In [17]:
# df_test is the DF that is replace by data_test DF (It is empty for the test)
getting_data.data_to_sql(df_test, data_test, if_exists='replace')

the table Empty DataFrame
Columns: []
Index: [] was successfully loaded to DB

In [18]:
getting_data.load_data_chunk('data_working_update', 100000)

Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/100000 rows
Got dataframe w/51369 rows

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1,2016-01-08,Vente,40000,,RUE TONY REVILLON,0560,1750,1370,Saint-Laurent-sur-Saône,...,Appartement,50,2,,,,,0,4.840606,46.304486
1,2016-4,2016-01-08,Vente,90000,,PELUS,B203,1560,1364,Saint-Jean-sur-Reyssouze,...,Maison,150,6,S,sols,,,1220,5.059020,46.386697
2,2016-6,2016-01-04,Vente,203700,,AU BOURG,B014,1190,1050,Boissey,...,Maison,98,4,S,sols,,,500,4.996678,46.383446
3,2016-6,2016-01-04,Vente,203700,,AU BOURG,B014,1190,1050,Boissey,...,Maison,98,4,AG,terrains d'agrément,,,750,4.996678,46.383446
4,2016-7,2016-01-09,Vente,147000,,RUE DE LA VILLE,0031,1340,1024,Attignat,...,Maison,70,2,S,sols,,,464,5.161898,46.290693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51364,2020-1075291,2020-12-16,Vente,1937500,,RUE CHANOINESSE,1748,75004,75104,Paris 4e Arrondissement,...,Appartement,40,2,S,sols,,,447,2.350481,48.854293
51365,2020-1075291,2020-12-16,Vente,1937500,,RUE CHANOINESSE,1748,75004,75104,Paris 4e Arrondissement,...,Appartement,29,2,S,sols,,,447,2.350481,48.854293
51366,2020-1075291,2020-12-16,Vente,1937500,,RUE CHANOINESSE,1748,75004,75104,Paris 4e Arrondissement,...,Appartement,27,2,S,sols,,,447,2.350481,48.854293
51367,2020-1075291,2020-12-16,Vente,1937500,,RUE CHANOINESSE,1748,75004,75104,Paris 4e Arrondissement,...,Appartement,87,4,S,sols,,,447,2.350481,48.854293
51368,2020-1075291,2020-12-16,Vente,1937500,,RUE CHANOINESSE,1748,75004,75104,Paris 4e Arrondissement,...,Appartement,82,2,S,sols,,,447,2.350481,48.854293