In [1]:
%reload_ext autoreload 
%autoreload 2

In [2]:
# Import library 
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
from collections import namedtuple

In [3]:
from reestimator.preprocessing.preprocessing import Preprocessing_data

# TEST FONCTIONS OF THE EXPLORATION_DATA CLASS

In [4]:
# Get_data from gz
df_2020 = pd.read_csv('../../../Krys28/Project-Real estate estimator/data/csv/2020.gz', compression='gzip')
df_2020.head(10)

/home/krystelle/.pyenv/versions/lewagon/envs/reestimator/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171919
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251868
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235327
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246519
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820
5,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,2960.0,4.894607,46.251943
6,2020-3,2020-01-07,1,Vente,75000.0,NaN,NaN,RUE DE LA CHARTREUSE,0064,1960.0,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,610.0,5.226198,46.184538
7,2020-4,2020-01-07,1,Vente,123.0,NaN,NaN,CHAMP PORTIER,B041,1370.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,55.0,5.344396,46.263943
8,2020-4,2020-01-07,1,Vente,123.0,NaN,NaN,CHAMP PORTIER,B041,1370.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,68.0,5.343884,46.263800
9,2020-5,2020-01-09,1,Vente,72000.0,NaN,NaN,CHAMPEL,B034,1270.0,...,NaN,NaN,NaN,J,jardins,NaN,NaN,328.0,5.350565,46.380898

In [6]:
preprocessor = Preprocessing_data(df_2020)

In [7]:
df_2020.columns

Index(['id_mutation', 'date_mutation', 'numero_disposition', 'nature_mutation',
       'valeur_fonciere', 'adresse_numero', 'adresse_suffixe',
       'adresse_nom_voie', 'adresse_code_voie', 'code_postal', 'code_commune',
       'nom_commune', 'code_departement', 'ancien_code_commune',
       'ancien_nom_commune', 'id_parcelle', 'ancien_id_parcelle',
       'numero_volume', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero',
       'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez',
       'lot4_numero', 'lot4_surface_carrez', 'lot5_numero',
       'lot5_surface_carrez', 'nombre_lots', 'code_type_local', 'type_local',
       'surface_reelle_bati', 'nombre_pieces_principales',
       'code_nature_culture', 'nature_culture', 'code_nature_culture_speciale',
       'nature_culture_speciale', 'surface_terrain', 'longitude', 'latitude'],
      dtype='object')

In [13]:
preprocessor.conv_int(df_2020['numero_disposition'])

0          1
1          1
2          1
3          1
4          1
          ..
2459555    1
2459556    1
2459557    1
2459558    1
2459559    1
Name: numero_disposition, Length: 2459560, dtype: int8

In [14]:
preprocessor.conv_downcast()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171921
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251869
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235329
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246517
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,87.0,4.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459556,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459557,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,82.0,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459558,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459559,2020-1075292,2020-10-08,1,Adjudication,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,Appartement,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348149,48.865936

In [16]:
preprocessor.conv_date(df_2020['date_mutation'])

0         2020-01-07
1         2020-01-02
2         2020-01-02
3         2020-01-02
4         2020-01-02
             ...
2459555   2020-12-16
2459556   2020-12-16
2459557   2020-12-16
2459558   2020-12-16
2459559   2020-10-08
Name: date_mutation, Length: 2459560, dtype: datetime64[ns]

In [19]:
df_2020['valeur_fonciere'].shape

(2459560,)

In [20]:
preprocessor.drop_rows_of_specific_column('valeur_fonciere').shape

(2427808, 40)

In [22]:
preprocessor.remplacement_mutation()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,1,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171921
1,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251869
2,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235329
3,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246517
4,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,87.0,4.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459556,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459557,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,82.0,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459558,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294
2459559,2020-1075292,2020-10-08,1,0,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,Appartement,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348149,48.865936

In [23]:
preprocessor.cadastral_sector()

0          000AK
1          0000B
2          0000B
3          0000B
4          0000C
           ...
2459555    000AW
2459556    000AW
2459557    000AW
2459558    000AW
2459559    000AM
Name: secteur_cadastral, Length: 2459560, dtype: object

In [56]:
df_2020

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,secteur_cadastral
0,2020-1,2020-01-07,1,1,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171921,000AK
1,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251869,0000B
2,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235329,0000B
3,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246517,0000B
4,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820,0000C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,87.0,4.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW
2459556,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW
2459557,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,82.0,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW
2459558,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW
2459559,2020-1075292,2020-10-08,1,0,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348149,48.865936,000AM

In [86]:
preprocessor.filter_dependency(df_2020, 100000)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,secteur_cadastral,Dependency
0,2020-1,2020-01-07,1,1,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171921,000AK,0.0
1,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251869,0000B,0.0
2,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235329,0000B,0.0
3,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246517,0000B,0.0
4,2020-2,2020-01-02,1,1,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820,0000C,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459553,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW,NaN
2459554,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW,NaN
2459555,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,4.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW,NaN
2459557,2020-1075291,2020-12-16,1,1,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854294,000AW,NaN
2459559,2020-1075292,2020-10-08,1,0,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2.348149,48.865936,000AM,NaN