In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df2018=pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2018/full.csv.gz')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,12,14,16,17,18,20,22,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df2018.head()

  id_mutation date_mutation  ...  longitude   latitude
0      2018-1    2018-01-03  ...   5.220463  46.200053
1      2018-1    2018-01-03  ...   5.220463  46.200053
2      2018-2    2018-01-04  ...   5.408025  46.255574
3      2018-2    2018-01-04  ...   5.408025  46.255574
4      2018-2    2018-01-04  ...   5.408025  46.255574

[5 rows x 40 columns]

In [5]:
df2018.isnull().sum().sort_values(ascending=False)/len(df2018)

lot5_surface_carrez             0.999770
lot4_surface_carrez             0.999438
lot5_numero                     0.998194
lot3_surface_carrez             0.997890
numero_volume                   0.997001
lot4_numero                     0.996178
ancien_id_parcelle              0.995913
lot3_numero                     0.989035
ancien_nom_commune              0.983896
ancien_code_commune             0.983896
lot2_surface_carrez             0.978725
adresse_suffixe                 0.956588
code_nature_culture_speciale    0.953725
nature_culture_speciale         0.953725
lot2_numero                     0.934751
lot1_surface_carrez             0.913123
lot1_numero                     0.689284
surface_reelle_bati             0.591938
nombre_pieces_principales       0.455251
code_type_local                 0.454405
type_local                      0.454405
adresse_numero                  0.420203
surface_terrain                 0.315467
code_nature_culture             0.315448
nature_culture                  0.315448
latitude                        0.021825
longitude                       0.021825
valeur_fonciere                 0.009587
code_postal                     0.009178
adresse_nom_voie                0.009140
adresse_code_voie               0.009128
id_parcelle                     0.000000
code_departement                0.000000
nom_commune                     0.000000
code_commune                    0.000000
nombre_lots                     0.000000
nature_mutation                 0.000000
numero_disposition              0.000000
date_mutation                   0.000000
id_mutation                     0.000000
dtype: float64